<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FurEver Friends</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/Assets/css/style.css">
</head>

<body>
  <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <img src="./Assets/Images/Logo.png" alt="FurEver Friends Logo">
    </div>
  <div class="navbar-center">
    <p class="title">FurEver Friends</p> 
  </div>
  <div class="navbar-end">
    <a class="navbar-item" href="/login">Login</a>
    <a class="navbar-item" id="about-us-button" href="#">About Us</a>
    <a class="navbar-item" id="logout">Logout</a>
  </div>
  </nav>

    </header>
    
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>
 
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
 <script src="/js/logout.js">
      document.addEventListener('DOMContentLoaded', () => {
        const navbarBurger = document.querySelector('.navbar-burger');

        // Function to toggle the modal
        function toggleModal() {
            const aboutUsModal = document.getElementById('about-us-modal');
            aboutUsModal.classList.toggle('is-active');
        }

        // Event listener to open the modal when 'About Us' is clicked
        const aboutUsButton = document.getElementById('about-us-button');
        aboutUsButton.addEventListener('click', (e) => {
            e.preventDefault(); 
            toggleModal();
        });

        // Event listener to close the modal when the close button is clicked
        const modalClose = document.querySelector('.modal-close');
        modalClose.addEventListener('click', toggleModal);
    });
  </script>
  {{/if}}
</body>

</html>
