<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="Assets/css/style.css"> 
</head>
<body>
  {{ navbar }}

    {{{body}}}
</body>
<!-- Render script for logged in users only -->
  {{#if logged_in}}
<script src="/js/logout.js">
      document.addEventListener('DOMContentLoaded', () => {
        const navbarBurger = document.querySelector('.navbar-burger');

        // Function to toggle the modal
        function toggleModal() {
            const aboutUsModal = document.getElementById('about-us-modal');
            aboutUsModal.classList.toggle('is-active');
        }

        // Event listener to open the modal when 'About Us' is clicked
        const aboutUsButton = document.getElementById('about-us-button');
        aboutUsButton.addEventListener('click', (e) => {
            e.preventDefault(); 
            toggleModal();
        });

        // Event listener to close the modal when the close button is clicked
        const modalClose = document.querySelector('.modal-close');
        modalClose.addEventListener('click', toggleModal);
    });
  </script>
  {{/if}}
</html>

